* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h4 {
  font-size: xx-large;
  margin: auto;
  text-align: center;
}

p {
  margin: auto;
  padding: 5px;
  font-size: larger;
  text-align: center;
}

.player-card {
  border: solid;
  border-color: aliceblue;
  width: 300px;
  margin: 25px auto;
  padding: 10px;
}

.player-card img {
  margin: auto;
  width: 275px;
}

.single-player {
  margin: auto;
  padding: 35px;
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-player img {
  height: 500px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.back-button {
  margin: 20px;
}

input {
  margin: 20px 5px;
}
